\html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

input[type="button"], 
input[type="submit"], 
input[type="reset"],
select { -webkit-appearance: none;}
  textarea { -webkit-appearance: none;} 

* {
  margin: 0;
  padding: 0;
}

body{
  font-size: 125%;
  height: 100%;
  background: linear-gradient(rgb(255, 255, 255), grey, rgb(50, 50, 50));
  background-size: cover;
 
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}
 h1,
 h2,
 p {
   text-align: center;
 }

h1 {
  color: white;
  margin: 0px 0 10px 0;
  line-height: 2.5rem;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

h2 {
  font-size: 2.5rem;   
  margin: 30px 0 20px 0;
}

ul {
  list-style: none;
}

 a {
  color: black;
  text-decoration: none;
  margin: 0 auto;
}

a:hover {
  color: #F69F40;
  transition: 0.5 ease-in ease-in-out;
}

img {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 150ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}


select {
  color: black;
  text-align: center;
  cursor: pointer;
  font-size: clamp(1rem, 1.75vw, 1.25rem);
  padding: 0 5px;
  margin-bottom: 5px;
  padding: 3px 8px 0 8px;
  border-radius: 20px;
  border: black 1px solid;
  transition: background 150ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:hover,
select:focus {
  color: white;
  background-color: rgb(86, 86, 86);
  border: white 1px solid;
  transition: 0.5 ease-in;
}

button {
  font-size: clamp(1rem, 1.75vw, 2rem);
  margin: 0px 5px;
  padding: 3px 8px 0px 8px;
}

.loadingContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingCircle1,
.loadingCircle2,
.loadingCircle3 {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 5px;
}

.loadingCircle1 {
  background-color: red;
}
.loadingCircle2 {
  background-color: green;
}
.loadingCircle3 {
  background-color: blue;
}

.contentContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 10%;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black 2px solid;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin-bottom:30px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);;
}

.paintingSelector,
.scaleSelector,
.tempoSelector {
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
  padding-bottom: 5px;
}
.selectMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paintingContainer {
  margin: 0 0% 20px 0%;
}

.playControls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.playControls button {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
  padding: 5px;
}

.playControls .play:hover,
.playControls .play:focus    {
  background: rgb(160, 160, 160);  
  transition: 0.5 ease-in;
}

.playControls .stop:hover,
.playControls .stop:focus {
  background: rgb(160, 160, 160);
  transition:  0.9 ease-in;
}

.playIconContainers {
  display:flex;
  justify-content: center;
}

.shuffleIcon,
.playIcon {
  height: 20px;
  width: 20px;
}

.stopIcon {
  height: 20px;
  width: 20px;
  position: relative;
  top: 2px;
}

.headphonesPrompt{
  font-size: 1rem;
  position: relative;
  top: -75px;
}

.noHexCodes {
  font-size: 1rem;
  font-style: italic;
  padding: 10px;
  background-color: #c9cccd;
  border-radius: 10px;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 35px 0 10px 0;
}

.colors li {
  border-radius: 50%;
}
 
.hexColorCodes {
  font-size: 1rem;
  font-weight: 400;
  height: 100px;
  width: 100px;
  position: relative;
  top: -30px;
}

.notes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
    
.notes li {
  font-size: 1rem;
  font-weight: 600;
  padding: 0 12px;
}

footer {
  font-size: clamp(1rem, 1.75vw, 1.2rem);
  text-align: center;
  padding: 0 0 300px 0;
}

/* ******************************************** */

@media (max-width: 870px) {
  
  .player {
    margin-bottom: 100px
  }
  .colors {
    margin: 0 25%;
  }
  .colors li {
    margin: 0 0 40px 0;
  }
  .notes {
    margin: 0 20%;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .contentContainer {
      padding-top: 25%;
      padding-bottom: 10%;
    }
    
  }



@media (max-width: 710px) {
  .colors {
    margin: 0 20%;
  }
}

@media (max-width: 630px) {
  .colors {
    margin: 0 15%;
  }
  .notes {
    margin: 0 15%;
  }
  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 540px) {
  .colors {
    margin: 0 15%;
  }
  .hexColorCodes {
    font-size: 0.8rem;
    
    height: 70px;
    width: 70px;
    position: relative;
    top: -30px;
  }
  .notes {
    margin: 0 10%;
  }
}

@media (max-width: 480px) {
  .colors {
    margin: none;
  }
  .notes {
    margin: 0 5%;
  }
}

@media (max-width: 420px) {
  .notes {
    margin: 0 0%;
  }
}

@media (max-width: 380px) {
  .player {
    width: 310px;
    height: 310px;
    margin-bottom: 40px;
  }
  .headphonesPrompt{
    top: -21px;
  }

  .colors {
    margin: 10% 10% 0 10%;
  }
  .notes {
    margin: 0 10% 0 10%;
  }
}